<div class=signin>
    <h2 class="font-weight-bold py-2" >library online</h2>
    <h6>Login Read & Grow</h6>
  
    <br>
    <br>
    <form>
        <div class="form-row">
            <div class="col-lg-9">
              
                <input type="text" placeholder="User ID" name="username" required class="form-control my-3 p-4">
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-9">
              
                <input type="text" placeholder="Email ID" name="Email id" required class="form-control my-3 p-4">
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-9">
              
                <input type="text" placeholder="number" name="number" required class="form-control my-3 p-4">
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-9">
                <input type="password" placeholder="Password" id="pass" name="password" required class="form-control my-3 p-4">

            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-9">
                <input type="password" placeholder="Confirm Password" id="pass" name="cnpassword" required class="form-control my-3 p-4">

            </div>
        </div>
        
        <div class="form-row">
            <div class="col-lg-9">
               <div><label for="msg" id="msg"></label></div>
               <label id="err"></label><br>
               <button type="submit"class="btn btn-primary" style="margin-left: 2px;width:70%;">Sign-Up</button>
                <br><br>
                <div class="cmmnt">
                <h4>Already have an accound ?</h4>
                <h6>Go On......</h6>
                </div>
                <div class="logbtn" style="margin-left: 2px;width:70% ;"  >
                  <a href="/signup">SIGN-in</a>
                 </div> 
              </div>
            
        </div>
    </form>
</div>
<!-- <script src="./public/js/log.js"></script> -->


<!-- form end -->
